body {
            background: url("http://johnsonandbell.com/wp-content/themes/johnsonandbell/images/bg_home.jpg") no-repeat center 90px !important; 
            background-attachment:fixed;

        }

    #login h1 a { 
	background-image: url("http://johnsonandbell.com/wp-content/themes/johnsonandbell/images/jandb_logo.png") !important; 
        background-size: 278px 45px;
        width: 278px;
	}
        
        