body {
    color: #000;
    font-size: 120%;
    line-height: 130%;

}

header nav, footer { display: none; }

#navbar, .practices-footer, .screen, .smaller {
    display: none;
}

a {
    text-decoration: none;
}

img { max-width: 100%; }

@page { margin: 1in; }

#title{
    height: 50px;
    float: right;
}


.header .container {
    margin: 0px auto;
    width: auto;
}

p a:after { content: "(" attr(href) ")"; font-size: 80%; }


p a[href^="http://"]:after { content: " (" attr(href) ")"; font-size: 90%; }

p a { word-wrap: break-word; }

a, .sidebar h2, .sidebar h2 a,   #content.practice-page h1 { color: #000; font-size: 1.05em;}

.print, .toggleBox {
    display: block;

}

.lawyer-list li {
    font-size: 12pt;
    line-height: 14pt;
}

#lawyer-right h3, #lawyer-right h3 a {
    color: #574F4D;
    font-size: 15pt;
}


.phone {
    margin-bottom: 0;
}


#content.practice-page h1 {
    background-color: transparent;
}


#content.practice-page .sidebar {
    background-color: #FFF;
}

.full-bio {
    width: 650px;
    top: 20px;
}


