* {margin: 0; padding:0;}
body {
font-family: 'EB Garamond', serif;
background-image: url(images/bg_gradient.png);
background-repeat: repeat-x;
background-color: #d6d3d1;
color: #403b2c;
}

.clear { clear: both; }

.container { 
margin:0px auto;
width: 990px;
/* padding-left: 25px; */
position: relative; 
}

#content { position: relative;
/* border-top: 1px #ccc solid; */
}

.column {
float: left; margin: 5px;
}

.front-left {
width: 700px; background: #F00;
}

.front-right {
float: none; margin-left: 730px;
}

#photo-row  {
width: 700px;
position: absolute; 
bottom: 0px;
margin-left: 5px;
margin-top: 20px;
}

.photo-block {
width: 90px;
float: left;
padding-right: 7px;  
}

h5.lawyer-name, h4.practice-name {
    width: 90px;
    text-align: center; 
}

h5.lawyer-name {
   margin-top: -28px;
   color: white; 
   font: bold 9px/11px Helvetica, Sans-Serif; 
   display: block;
   height: 18px;
   vertical-align: middle;
   position: relative;
   z-index: 4000;
}

.photo-block h4 span {  /*PRACTICE NAME */
   color: white; 
   font: bold 10px/11px Helvetica, Sans-Serif; 
   padding-top: 6px;
   letter-spacing: .25px;
   font-family: sans-serif;
	margin: auto;
	height: 24px;
	text-transform: uppercase;	
	display: block;
}

.municipal {
	background-color: #ac9F8D;
}
