/*	Resets
	------	*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,header,footer,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

* {margin: 0; padding:0;}

/*
	general styles
 */

 body {
     	font-family: 'EB Garamond', serif;
        background-image: url(images/bg_gradient.png);
        background-repeat: repeat-x;
		background-color: #d6d3d1;
		color: #403b2c;
 }
article h2.lawyer-name {
    color: #D21532;
    letter-spacing: 3px;
    margin-bottom: 0;
}

article {
    margin-right: 12px;
    margin-top: 26px;
}

aside {
    margin-top: 50px;
    padding-left: 5px;
  }
  
  
#sidebar.border {
          border-left: 1.5px solid #C41230;
          margin-bottom: 10px;
          }
 
.community-sidebar, .home-sidebar, .publications-sidebar {
              padding-left: 10px;
}


a {
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;    
 }
 

 @font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'EBGaramondRegular';
    src: url('fonts/EBGaramond-webfont.eot');
    src: url('fonts/EBGaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/EBGaramond-webfont.woff') format('woff'),
         url('fonts/EBGaramond-webfont.ttf') format('truetype'),
         url('fonts/EBGaramond-webfont.svg#EBGaramondRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}





.serif,
cite,
blockquote,
h1 {
    font-family: 'EB Garamond', serif; 
      
}
 

h1#logo {
    color: #c41230;
    font-size: 102px;
   /* height: 50px;
    width: 236px; */
    margin-left: 75%;
    top: 35px;
    
}


.home #content h2 {
    font-size: 96px;
    line-height: 80px;
    color: #D21532;
    font-weight: 200;
    text-align: center;
    letter-spacing:-1px;
    padding-top: 40px;
    padding-bottom: 50px;
}



.page-id-64 #content { 
    padding-top: 100px;
}


h2,
h3,
h4,
h5,
h6 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-weight: normal;
}

h3 {
    padding-bottom: 5px;
    color: #4A3B15;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
	margin-top: 24px;
        margin-bottom: 24px;
}

.monospace,
var,
code {
	font-family: "courier new", courier, monospace;
}

.amp {
	font-style: italic;
	font-family: baskerville,palatino,"palatino linotype","book antiqua",georgia,times,"times new roman",serif;
	font-weight: normal;
}

a:link {
	color: #4A3B15; 
}
a:visited {
	color: #4A3B15;
}
a:hover,a:active {
	color: #4A3B15;
        text-decoration: underline;
}

.post-content ul,
.post-content ol {
	padding-left: 24px;
}


/* style our search box */
/* Container */
.nav-search {
	background: url(images/searchbar.png) no-repeat;
	color: #212121;
	height: 23px;
	width: 265px;
       /* position: absolute; */
       vertical-align: bottom;
        right: 5px;
}

.home {
    bottom: 25px;
}


.search-text {
	margin-top: 3px;
        margin-right: 5px;
	background: none !important;
	-moz-box-shadow: none !important;
	border: none !important;
	color:#666666;
	height:18px;
}

input,
textarea { 
        height: 15px;
	outline: none;
}

input {
    margin-left: 10px;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border: 1px #444 solid;
}
input:focus,
textarea:focus {
	/* box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
	-moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2); */
}
textarea {
	min-height: 150px;
	width: 100%;
}

blockquote {
	border-top: 1px #ccc dotted;
	border-bottom: 1px #ccc dotted;
	text-align: justify;
	margin: 20px;
	padding: 12px;
}
	blockquote:first-letter {
		font-size: 24px;
		padding-right: 1px;
	}
	blockquote:first-line {
		font-size: 20px;
}

P {
  font-size: 1em;
  line-height:1.7em;
  padding-bottom: 10px;
    color: #574F4D;
}

/* FOR CLEARING FLOATS */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
} 

/*
	layout styles
 */

#if-logged-in .container {
	background: #000;
	margin-top: -24px;
}



body {
   padding: 0px;
}


/* Different backgrounds for Different pages */

.home:after, .page-id-109:after, .page-id-157:after, .page-id-75:after, .page-id-66:after, .page-id-64:after, .page-id-84:after     {
    
   position:absolute;
   z-index:-1;
   top:0;
   left:0;
   right:0;
   bottom:0;
   text-align: center;
   width: 100%;
   }


.home:after {                                   /* positioning is above */
            content: url(images/bg_home.jpg);
            }



.page-id-109:after {                                  /* positioning is above */
            content: url(images/bg_practiceareas.jpg);
          }

          
.page-id-157:after {                                  /* positioning is above */
       content: url(images/bg_attorneys.jpg);
          }

.page-id-75:after {                                  /* positioning is above */
       content: url(images/bg_firmnews.jpg);
          }

          
.page-id-66:after {                                  /* positioning is above */
            content: url(images/bg_awards.jpg);
          }      
          
          
.page-id-64:after {                                  /* positioning is above */
            content: url(images/bg_community.jpg);
          }
          
          
          
.page-id-84:after {                                  /* positioning is above */
            content: url(images/bg_publications.jpg);
          }
          
.container { 
    	margin:0px auto;
        width: 990px;
       /* padding-left: 25px; */
        position: relative;
	}
		#title {
			position: relative;
			height: 50px;
		}
			#logo,
			#tagline {
				position: absolute;
				bottom: 0;
			}
			#logo {
				left: 0;
				font-size: 72px;
				line-height: 72px;
				letter-spacing: 0;
			}
			#tagline {
				font-size: 18px;
				right: 0;
				line-height: 36px;
			}
			#header-image.container {
				padding: 0;
			}
	

#menu-header-menu li.current_page_item a {
    color: #FFFFFF !important;
    font-weight: bold;
}
ul li .sub-menu {
    background: none repeat scroll 0 0 #FFF;
    padding-bottom: 20px !important;
    padding-left: 17px !important;
}           
                        
                        
	#widget-header {
		clear: both;
	}
	
	#content { position: relative; 
		/* border-top: 1px #ccc solid; */
	}
		#widget-alert {
			background: #C6D8CD;
			border: 1px #5b816a solid;
			padding: 24px;
			margin-bottom: 24px;
		}
		.post-single {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px #dedede solid;
		}
	#sidebar {

        }
		#sidebar .widget-area {
			/* padding-bottom: 20px; */
			margin-bottom: 20px;
		}
			#siebar ul,
			#sidebar li {
				padding: 0;
				margin: 0;
				list-style: none;
			}
				#sidebar .children {
					padding-left: 10px;
				}
					#sidebar .children .children {
						padding-left: 10px;
					}
	#footer .container {
		padding-top: 20px;
		padding-bottom: 20px;
        }
        
		#footer-content {
			padding: 20px;
		}
			#footer ul,
			#footer li {
				display: inline;
				list-style: none;
			}
				#footer li a {
					padding: 0 10px;
				}
                                #footer p {
                                    font-size: 10px;
                                    font-family: 'Archivo Narrow', sans-serif;
                                }              
.column {
    float: left; margin: 5px;
}

.front-left {
    width: 700px; 
    
}

.front-right {
    float: none; margin-left: 730px; 
}


#nav-primary {
		clear: both;
		width: 72%;
		padding: 0;
                 font-family: "Agenda Medium";
    text-transform: uppercase;
 /*   margin-left: 25px; */
    min-height: 15px;
    border-top: #4A3B15 thin solid;
	}
		#nav-primary ul,
		#nav-primary li {
			list-style: none;
		}
			#nav-primary a {
				float: left;
				display: block;
				padding: 0 10px;
                                font-family: "Agenda Medium";
                                color: #4A3B15;
			}
                        
                        
         
#nav-primary ul li {
    /* color: #4A3B15; */
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding-right: 25px;
    text-align: center;
    width: auto;
    position: relative;
    z-index: 1002;
}

/*#nav-primary ul li:last-child {
    border-right: medium none;
}*/

        #nav-primary li a, #nav-primary li a:visited {
           /* color: #4A3B15; */
            padding: 2px 0;
        }
        #nav-primary ul li a:hover {
            text-decoration: underline;
        }
        
        
#nav-primary ul {
    line-height: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    z-index: 1001;
}

#nav-primary ul ul {
   /* border-style:  solid solid;
    border-width:  1px 1px;     THE BOX AROUND THE SUBMENU ITEMS*/
    display: none;
    left: 0;
    padding-bottom: 10px;
    position: absolute;
    top: 20px; /* how far below the menu the dropdown shows up */
    width: 100px;
    z-index: 999;
}
#nav-primary ul li:hover ul, #nav-primary ul li.hover ul {
    display: inline;
}
#nav-primary ul ul li {
    color: #333333;
    display: block;
    font-weight: normal !important;
    text-align: left;
    text-transform: none;
    padding: 0;
}
#menu ul ul li #menu ul ul li a:hover {
    color: #FF6C00;
}
#menu ul ul li.last {
    border: 0 none;
}
#menu ul ul li a {
    display: block;
    float: none;
    height: auto;
    padding: 10px 0;
    text-align: left;
}
#nav-primary ul ul li a:link, #nav-primary ul ul li a:visited {
    color: #333333 !important;
}
#nav-primary ul ul li a:hover, #nav-primary ul ul li a:active {
    background: none repeat scroll 0 0 transparent !important;
    color: #00529C !important;
    
}



#photo-row  {
	 /*JUST IN CASE*/
         width: 100%;
         position: absolute; 
		 bottom: 0px;
         margin-left: 5px;
         margin-top: 20px;
       }

.photo-block {
	width: 90px;
        float: left;
	 padding-right: 7px;  
         
}

.photo-block h5 {
      /* top: 60px; */
}

.photo-block h4 {
	position: absolute;
	}

        .transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.bar { /* bar behind LAWYER NAME */
   height: 18px;
   vertical-align: middle;
   zoom: 1;
   filter: alpha(opacity=50);
   opacity: 0.5;
background: black;
position: relative;
margin-top: -20px;
}
   



h5.lawyer-name, h4.practice-name {
    width: 90px;
    text-align: center; 

}

h5.lawyer-name {
   margin-top: -28px;
   color: white; 
   font: bold 9px/11px Helvetica, Sans-Serif; 
   display: block;
   height: 18px;
   vertical-align: middle;
   position: relative;
   z-index: 4000;
}


.photo-block h4 span {  /*PRACTICE NAME */
   color: white; 
   font: bold 10px/11px Helvetica, Sans-Serif; 
   padding-top: 6px;
   letter-spacing: .25px;
   font-family: sans-serif;
	margin: auto;
	height: 24px;
	text-transform: uppercase;	
	display: block;
}

	

.product-liability {
	background-color: #002D56;	
}

.municipal {
	background-color: #ac9F8D;
}

.healthcare {
	background-color: #95ABAE;
}

.construction {
	background-color: #B38A3B;
}

.employment {
	background-color: #7196B1;
}


.insurance {
	background-color: #D2B970;
}

.business {
	background-color: #C4521c;
}



	


.agenda {
  font-family: Agenda;
  font-style: normal;
  font-weight: normal;
}

.agendabold {
  font-family: Agenda;
  font-style: normal;
  font-weight: bold;
}

.agendaitalic {
  font-family: Agenda;
  font-style: italic;
  font-weight: normal;
}

.agendalight {
  font-family: "Agenda Light";
  font-style: normal;
  font-weight: normal;
}

.agendamedium {
  font-family: "Agenda Medium";
  font-style: normal;
  font-weight: normal;
}

.agendasemibold {
  font-family: "Agenda Semibold";
  font-style: normal;
  font-weight: normal;
}


.franklinitcpromedium {
  font-family: "Franklin ITC Pro Medium";
  font-style: normal;
  font-weight: normal;
}


/* News Styles */

.news_headlines_home { 
  position: relative; 
  left: 50px; 
  display: table; 
  width: 600px;
}

.news_headlines_home h3, .headlines h3 {
  display: table-cell; 
  width: 100px;
  vertical-align: middle; 
  text-align: center; 
}

.headlines h3 {
    padding-left: 10px;
}


.news_headlines_home ul, .headlines ul {
    padding-left: 10px;
}

.news_headlines_home ul, .news_headlines_home li {
    list-style: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 1px;
    
}

#lawyer-right .featured-thumbnail {
  -moz-box-shadow:     1px 1px 2px #666;
  -webkit-box-shadow:  1px 1px 2px #666;
  box-shadow:          1px 1px 2px #666;
  left: 565px;
}



#lawyer-right {
      width: 396px;
      float:right;
}

#lawyer-right h3 {
   padding-bottom: 0;
}

.lawyer-list {
    border-left:  1px solid #D21532;
    position: relative;
    float:left;
    padding: 15px;
    width: 175px;
    min-height: 200px;
    
}

.lawyer-list br { /*spacing between multiple items in a single field */
    line-height: 5px;
}

.practice-areas {  /* List of practice areas on Lawyer Profile page */
    background-color: #EFECE0;
    width: 150px;
    position: relative;
    top: 45px;
    padding: 5px 5px 5px 20px;
    float: left;
    color: #574F4D;

}

.practice-areas ul, .lawyer-list ul {
    list-style-type: none;
    font-family: 'Archivo Narrow', sans-serif;
     font-weight: 100;
     font-size: .8em;
     line-height: 1.24em;
}

h3  {
    letter-spacing: 1px;
    text-transform: uppercase;
    }

.lawyer-list h3, .practice-areas h3 {
    letter-spacing: 2px;
    margin: 0;
    padding-top: 12px;
    
}

h3 .and {
    letter-spacing: 0;
}


.lawyer_profile p {
    width: 500px;

}

.phone {
    font-size: 15px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 200;
    margin-bottom: 12px;
    
}

.title {
    font-size: 1.05em;
    font-family: 'Archivo Narrow', sans-serif;
    margin-bottom: 12px;
}

.practice-areas-list ul { /* List of practice areas on Practice Area Page */
    list-style-type: none;
    font: 1em/1.8em 'Archivo Narrow', sans-serif;
 
    
}

.three-columns{
-webkit-column-count: 3;
-webkit-column-gap: 35px; 
-webkit-column-rule: 0px dotted black;
-moz-column-count: 3;
-moz-column-gap: 35px;  
-moz-column-rule: 0px dotted black;
column-count: 3;
column-gap: 35px; 
column-rule: 0px dotted black;
}


.blockquote, .quote-source, .quote-source-title, .quote {
    color: #c41230;
}

.blockquote {
    
}




#alphaList { 
        font-family: 'Archivo Narrow',sans-serif;
        font-weight: 700;
        width:600px; overflow:hidden; 
        font-size:12px; 
        clear:both; 
        border-top:0 solid #403B2C;  
        border-bottom:0 solid #000000;
}
#alphaList .first { border:0; }
#alphaList a { display:block; line-height:22px; 
width:22px; float:left; text-align:center; 
border-left:1px solid #E3E3E3 
}
 
#alphaList a:hover { background:#f1f1f1;
 text-decoration:none; color:black 
}


.laywer_search_form  {
  /*   border: 1px solid black; JUST FOR TESTING */
   margin-left: 5px;
    color: #212121;
        bottom: 35px;
        right: 5px;
}


.search-text {
	margin-top: 3px;
        margin-right: 5px;
	background: none !important;
	-moz-box-shadow: none !important;
	border: none !important;
	color:#000;
	height:16px;
}

.textInput { 
    border: 0 solid #ff0000;
    background: #d3d3d3;
    color: #000;
    font-size: .8em;
    width: 500px;
    }

input.textInput:hover,
textarea.textInput:hover,
input.textInput:focus,
textarea.textInput:focus  {
	border: 0;
}


td.searchLabel {
    text-align: right;
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    width: 100px;
}


.toggleBox {
    display: none;
}

.newsletter-list, .newsletter-list a {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #403b2c;
    margin-left: 15px;
}


.headlines { 
  position: relative; 
  display: table; 
  width: 530px;
  padding-top: 15px;
}

.firm-news .headlines {
    width: 680px;
}

.publications .headlines {
    width: 600px;
}


.headlines li {
    border-bottom: 2px solid #D21532;
    padding: 10px 0 15px 0;
 }
 
 .firm-news .headlines li, .publications .headlines li, .awards .headlines li {
     padding: 5px 0 5px 7px;
 }

.headlines li:first-child {
     
       border-top: 2px solid #D21532;
 }
 
 
.headlines ul, .headlines li {
    list-style: none;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-weight: 600;
    padding-left: 9px;
}
 
.headlines .readmore  {
    font-size: 10px;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 400px;
    
}

.firm-news .headlines .readmore {
    margin-left: 600px;
}


